body {
  background-color: #e9eee9;
}

.container {
  display: block;
  max-width: 20%;
  margin: 100px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 1px 1px 1px #d6d2d0;
  text-align: center;
}

.canvas {
  background-color: #fff;
}
h1 {
  font-family: "Josefin Sans", sans-serif;
}

#display-city {
  text-transform: capitalize;
}
